body {
    background-color: #d4f3ff;
}

#main-content {
    background-color: white;
    margin-left: 5%;
    margin-right: 25%;
    width: 75%
    
}

header {
    color: #207e8a;
    border-bottom: 5px;
    border-color: black;
}

button {
    background-color: #207e8a;
    color: white;
}

.footer-box {
    margin-top: 100%;
    float: bottom;
    background-color: grey;
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
}

img {
    margin: 2%
}

.input-name {
    width: 500px;
}

.input-email {
    width: 500px;
}

.input-message {
    width: 500px;
    height: 500px;
}

.navbar-nav {
    align-items: right;
}

#content-row {
    display: inline-block;
    
}

.image-wrap {
    float: left;
    margin: 10px;
    width: 400px;
    height: 400px;
}

.col-md-12 {
    align-items: center;
    width: auto;
    bottom: 80px;
    color: white;
    background-color: #207e8a;
    padding-left: 10%;
    padding-right: -20px;
    margin: 0px 150px 0px 20px;
    
}

.col-md-12 {
    color: white;
    font-size: 38px;
    height: 60px;
}

.col-md-12 a {
    color: white;
}

#project-link {
    float: center; 
    align-items: center;
    bottom: 80px;
    color: white;
    padding-left: 5px;
    margin-right: 100px;
}

.p-2 {
    font-size: 20px;
}