body {
    background-color: #d4f3ff;
}

#main-content {
    background-color: white;
    margin-left: 5%;
    margin-right: 25%;
    width: 75%
    
}

header {
    background-color: #207e8a;
    color: white;
    border-bottom: 5px;
    border-color: black;
    margin-top: 10px;
}

h2 {
    font-size: 20px;
}

button {
    background-color: #207e8a;
    color: white;
}

.footer-box {
    margin-top: 15%;
    float: bottom;
    background-color: grey;
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
}

img {
    margin: 15px 15px 15px 15px;
    height: 200px;
    width: 300px;

}

.input-name {
    width: 500px;
}

.input-email {
    width: 500px;
}

.input-message {
    width: 500px;
    height: 500px;
}


#content-row {
    display: inline-block;
    
}

.image-wrap {
    float: left;
    margin: 10px;
    width: 400px;
    height: 400px;
}

.col-md-12 {
    align-items: center;
    width: auto;
    bottom: 80px;
    color: white;
    background-color: #207e8a;
    padding-left: 10%;
    padding-right: -20px;
    margin: 0px 150px 0px 20px;
    
}

.col-md-12 {
    color: white;
    font-size: 20px;
    height: 60px;
}

.col-md-12 a {
    color: white;
}

#project-link {
    float: center; 
    align-items: center;
    bottom: 80px;
    color: white;
    padding-left: 5px;
    margin-right: 100px;
}

.p-2 {
    font-size: 20px;
}

textarea {
    width: 500px;
    height: 500px;
}

/* Smartphone device */

@media all and (max-width: 600px) {
    .container {
        width:  400px;
    }
    .col-md-12 p {
        font-size: 20px;
    }
    .col-md-12 a {
        font-size: 20px;
    }
    .flex-row img {
        width: 250px;
        height: 250px;
    }
    .col-md-6 img {
        width: 250px;
        height: 250px;
    }
}
